<!DOCTYPE html>
<html>
<head>
  <title>Bestof</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Home", root_path %>
	<%= link_to "About Me", aboutme_path %>
	<%= link_to "Vote", vote_path %>
	<%= link_to "Results", results_path %>
	<%= link_to "Events", events_path %>


	<%= yield %>

</body>
</html>
